@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "../hero.ts";
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-accent: hsl(204 100% 75%);
}

:root {
  --heroui-primary: 240 64% 29%;
  --background: #ffffff;
  --foreground: #0f0f0f;
}

@font-face {
  font-family: "FiraCode";
  src: url("/fonts/FiraCode-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
